<!-- For use with Docker. server.xml for local use (mvn install liberty:run-server) is located at /src/wlp/server.xml-->
    <server>

    <featureManager>
        <feature>servlet-3.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080">
        <tcpOptions soReuseAddr="true"/>
    </httpEndpoint>
    
    <application name="game2048" context-root="/" location="${appLocation}"/>
</server>
